body {
    text-align: center;
    color: white;
    font-family: 'Arvo', serif;
    background-image: url("images/polygon.png"), url("polygon2.png");
    background-position: center top, center bottom;
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 38px;
    font-family: 'Holtwood One SC', serif
}

.nav ul {
  width: 100%;
  list-style: none;
  background-color: #B20000;
  text-align: center;
  padding: 0;
  margin: auto;
  border-right-style: none;
  border-left-style:  none;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  font-family: 'Exo', sans-serif;
  position: fixed;
}

.nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  font-family: 'Exo', sans-serif;
}
 
.nav a {
  text-decoration: none;
  color:#E5E5E5;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #B7B7B7;
  color: black;
}
 
.nav active {
  background-color: #B7B7B7;
  color: #444;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
}

.nav li {
    display: inline-block;
    margin-right: -4px;
}


#body {
  margin: auto;
  width: 80%;
  background-image: url('images/background.jpg');
  border: solid 4px #E5E5E5;
  background-repeat: no-repeat;
  outline: solid 2px black;
}